.heading {
    background-color: deeppink;
    width: 30%;
    color:white;
    margin: 0px;
}
p{
    padding: 0px;
    margin: 0px;
    width: 30%;
}
p:nth-child(even) {background-color: hotpink}
p:nth-child(odd) {background-color: lightpink}